In [23]:
import pandas as pd 
df = pd.read_csv("YearDegreeEvent", separator = t)

In [24]:
df.head()

  Year\tDegree\tEvent\t
0          2023\t1\t‚òä\t
1          2023\t6\t‚¨Ü\t
2          2023\t6\tüåï\t
3          2023\t8\tùî∏\t
4         2023\t16\t‚òã\t

In [12]:
df.iloc[1:10].plot(y=' Prediction')

SyntaxError: invalid syntax (2527775409.py, line 1)

In [22]:
df[df[" Type"] = "L"]

SyntaxError: invalid syntax (4176211319.py, line 1)